DOMAIN=example.com
ACME_EMAIL=you@example.com
CF_DNS_API_TOKEN=your_cloudflare_api_token_here
# Generate with: echo $(htpasswd -nB admin) | sed -e s/\\$/\\$\\$/g
TRAEFIK_DASHBOARD_AUTH=admin:$$2y$$05$$...
