DOMAIN=example.com
SIGNUPS_ALLOWED=false
# Generate with: openssl rand -base64 48
ADMIN_TOKEN=
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME=you@example.com
SMTP_PASSWORD=
SMTP_FROM=vault@example.com
